extends ../layout.jade

block meta
 

block link
  
  
block title
  

block navbar-header

block subnavbar-header


block content
    div(class="main")
        h1(class=h1) Contenido para el Scrum Master

block footer
  
        
block script