.flip-container {
  float: left;
  margin-left: 15px;
  margin-bottom: 25px;
perspective: 1000px;

}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 480px;
  height: 320px;
}

/* flip speed goes here */
.flipper {
transition: 0.6s;
transform-style: preserve-3d;

position: relative;
}

/* hide back of pane during swap */
.front, .back {
backface-visibility: hidden;

position: absolute;
top: 0;
left: 0;
}

/* front pane, placed above back */
.front {
z-index: 2;
/* for firefox 31 */
transform: rotateY(0deg);
background: #ffc;
}

/* back, initially hidden pane */
.back {
background: #ffc;
transform: rotateY(180deg);
}
